.blog-card-list{
    margin-top: 20px !important;
}
.blog-card-list .title{
    font-size: 25px;
}
.blog-card-list .blog-card{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
}
.blog-card-list .blog-card.bg{
    background-color: #FFF8E1;
}

.blog-card-list h2{
    font-size: 20px;
    padding-right: 10px;
}
.blog-card-list p{
    font-size: 13px;
}
.blog-card-list .btns .btns-grp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.blog-card-list .btns{
    display: flex;
    flex-direction: column;
}
.blog-card-list .btns .btns-single{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
